@{
    ViewBag.Title = "Table Filter Demo";
}


<div class="row">
  <div class="col-md-12">
    <div class="modal-header">
      <span class="h3">Data Records</span>
    </div>
    <a href="#" class="btn-xs btn-danger pull-right" data-bind="click: loadData">New Data</a>
    <div>
      <pagination params="pager: pager"></pagination>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-md-6"><a href="#" data-bind="click: filter.sortName, css: { dropup: filter.sort_Name}">Name <span class="caret"></span></a><br /><input data-bind="textInput: filter.filterName" /> <small class="text-muted">Filtered: <span data-bind="text: filter.count"></span> of <span data-bind="text: filter.total"></span></small></th>
          <th class="col-md-3">Active<br /> <span class="btn btn-xs btn-primary" data-bind="click: filter.toggleActive">Filter: <span data-bind="text: filter.filterActive"></span></span></th>
          <th class="col-md-3">Status<br /> <span class="btn btn-xs btn-primary" data-bind="click: filter.toggleStatus">Filter: <span data-bind="text: filter.filterStatus"></span></span></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: viewArray">
        <!-- ko component: {
          name: "data-row",
          params: { row: $data }
        } -->
        <!-- /ko -->

      </tbody>
    </table>
  </div>
</div>

@section scripts {
}
